<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- sig -->
	<bean id="searchFacade" class="com.fet.siggw.facade.SearchFacade" />

	<!-- deviceFacade -->
	<bean id="deviceFacade"
		class="com.fet.crm.smarthome.device.facade.impl.DeviceFacadeImpl">
		<property name="sigCustomerService" ref="SIGService" />
		<property name="deviceService" ref="deviceService" />
	</bean>
</beans>